/* Resetting default margin and padding */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Main Dashboard */
.dashboard {
    height: 90vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch; /* Ensures each child takes full height */
    flex-direction: row;
}

/* Left Column */
.left-column {
    border: 1.5px solid rgb(235, 235, 235);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0.50;
}

.top-icons {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    border: 5px solid #5048de;
}


/* Middle Column */
.middle-column {
    border: 1.5px solid rgb(235, 235, 235);
    flex: 1.2; /* Takes up equal width */
    overflow-y: scroll;
}

.empty-chatroom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.empty-chatroom-icon {
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.empty-chatroom-instruction-text {
    font-size: 25px;
    font-weight: 400;
    opacity: 0.4;
    text-align: center;
}

/* Loading Spinner */
.loading-spinner {
    margin: 20px 0 0 20px;
    width: 3em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loading-circle {
    fill: none;
    stroke: #5048de;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


/* Right Column */
.right-column {
    flex: 0.8;
    border: 1.5px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
}

.right-column > div {
    height: 50%;
}

.group-chatroom-container {
    margin: 5px;
}