.search-results-container {
    margin-top: 35px;
    max-height: 300px;
}

.results-container {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -15px;
    gap: 7px;
    width: 200px;
    margin-left: -10px;
    max-height: 250px;
    overflow-y: scroll;
}

h3 {
    font-weight: 400;
}

.results-container {
    width: 240px;
}